@model IEnumerable<ResumePage.Models.Job>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Jobs" asp-action="Index">
    <p>
        Job: <input type="text" name="searchString" />
        <input type="submit" value="Search" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateJoined)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateLeft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartingPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndingPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateJoined)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateLeft)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartingPay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndingPay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
