@model ResumePage.Models.ResumeViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
                @Html.DisplayNameFor(model => model.Contact)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Contact)
            </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.Contact.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contact.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contact.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contact.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contact.Email)
        </dt>
        <dd>
            @*<a href="mailto:jacobtmurphy@yahoo.com" target="_top">*@               
                @Html.DisplayFor(model => model.Contact.Email)
            @*</a>*@
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contact.City)
        </dt> 
        <dd>
            @Html.DisplayFor(model => model.Contact.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contact.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contact.State)
        </dd>    
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem =>Model.Educations)
            </th>
            <th>
                Graduated
            </th>
            <th>
                Education Level
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Educations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Establishment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Level)
                </td>
            </tr>
        }
    </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem => Model.Jobs)
            </th>
            <th>
                Position
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Jobs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobDescription)
                </td>
            </tr>
        }
    </tbody>
</table>

